<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container">
    <a href="#page-top" class="navbar-brand js-scroll-trigger text-primary">Auto Centrum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a href="#services" class="nav-link js-scroll-trigger">Usługi</a>
        </li>
        <li class="nav-item">
          <a href="#portfolio" class="nav-link js-scroll-trigger">Galeria</a>
        </li>
        <!--<li class="nav-item">
          <a href="#about" class="nav-link js-scroll-trigger">O nas</a>
        </li>-->
        <li class="nav-item">
          <a href="#team" class="nav-link js-scroll-trigger">Zespół</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link js-scroll-trigger">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h5 class="text-white h4">Collapsed content</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div> -->
</nav>
