<section class="page-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">O Nas</h2>
        <h3 class="section-subheading text-muted">Mamy wieloletnia tradycje</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="timeline">
          <li>
            <div class="timeline-image">
              <img src="" alt="" class="rounded-circle img-fluid">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2009-2011</h4>
                <h4 class="subheading">Cos tam</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">cos tam</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img src="" alt="" class="rounded-circle lag-fluid">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2015-2011</h4>
                <h4 class="subheading">Cos tam</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">cos tam</p>
              </div>
            </div>
          </li>
          <!-- <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Bądź
                <br>Naszej
                <br>Historii!
              </h4>
            </div>
          </li> -->
        </div>
      </div>
    </div>
  </div>
</section>
