<section class="page-section" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Usługi</h2>
        <h3 class="section-subheading text-muted">Oferujemy nasze usługi</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Mechanika Samochodowa</h4>
        <p class="text-muted">Kompleksowa naprawa i diagnostyka samochodowa</p>
        <p class="text-muted">Wodna 2 85-310 Bydgoszcz</p>
        <p class="text-muted">poniedziałek - piątek 8:00 - 16:00</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-car fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Stacja Kontroli Pojazdów</h4>
        <p class="text-muted">Przeglądy techniczne pojazdów, ustawianie zbiezności</p>
        <p class="text-muted">Wodna 2 85-310 Bydgoszcz</p>
        <p class="text-muted">poniedziałek - piątek 8:00 - 18:00</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-shower fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Myjnia</h4>
        <p class="text-muted">Mycie pojazdów, odkurzanie wewnętrzne</p>
        <p class="text-muted">Wodna 2 85-310 Bydgoszcz</p>
        <p class="text-muted">24h/7</p>
      </div>
    </div>
  </div>
</section>
